body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('/assets/background6.jpeg');
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fcdcdd;
    border: 5px solid white;
    border-radius: 10px;
}

section {
    display: grid;
    width: 600px;
    border: 1px black solid;
}

table {
   text-align: center;
   line-height: 25px;
}

td {
    border: 1px gray dotted;
}

tfoot {
    text-align: right;
    font-weight: bold;
}

.total-number {
    text-align: center;
}

button {
    width: 100px;
}