body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    display: grid;
}

.plant {
    width: 200px;
    padding: 10px;
    border: solid 1px black;
    text-align: center;
    border-radius: 5px;
}

ul {
    list-style-type: none;
}

li {
    float: left;
    height: 500px;
    line-height: 19px;
}

button {
    align-self: baseline;
}

.plant > img {
    width: 150px;
}

