body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('/assets/background6.jpeg');
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #fcdcdd;
    border: 5px solid white;
    border-radius: 10px;
    width: 90%;
    margin: 50px;
}

.main-section {
    padding: 0 0 50px 0;
    opacity: 1;
}

.header {
    font-size: 1.5rem;
}

.cart-link {
    font-size: 1rem;
}

.plant {
    width: 170px;
    border: solid 1px black;
    text-align: center;
    border-radius: 5px;
    margin: 2px;
    
}

ul {
    list-style-type: none;
}

li {
    height: 530px;
    padding: 10px;
    float: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    vertical-align: top;
    align-items: center;
    background: white;

}

.plant > img {
    width: 150px;
}

