body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('/assets/background6.jpeg');
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main {
    text-align: center;
    background: #fcdcdd;
    border: 5px solid white;
    border-radius: 10px;
    width: 90%;
    margin: 70px;
    height: 500px;
    box-shadow: 1px 2px 9px 2px #5e715e;
    font-family: 'MontserratRegular', serif;
    font-weight: normal;
    font-style: normal;
}

.header {
    justify-content: flex-start;
    margin: 0 0 50px 0;
    font-size: 1.2rem;
}

.navigation {
    font-size: .8rem;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 10px 0 0 0;
    padding: 4px;
    box-shadow: 1px 2px 9px -4px #5e715e;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    margin: 50px;
}

input {
    line-height: 17px;
    margin: 4px;
    width: 250px;
}

button {
    margin: 20px;
    width: 170px;
    font-family: 'MontserratRegular', serif;
}

::placeholder {
    text-align: center;
    color: #5e715e;
    opacity: .5;
    font-family: 'MontserratRegular', serif;
}

button:hover {
    background: #5e715e;
    color: white;
}

button:active {
    background-color: #354e40;
    transform: translateY(2px);
}