
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('./assets/background6.jpeg');
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #fcdcdd;
    border: 5px solid white;
    border-radius: 10px;
    width: 90%;
    margin: 70px;
    height: 500px;
    box-shadow: 1px 2px 9px 2px #5e715e;
    font-family: 'MontserratRegular', serif;
    font-weight: bold;
}

.header {
    justify-content: flex-start;
    margin: 0 0 100px 0;
    font-size: 1.2rem;
    text-shadow: 1px 2px 3px #6e8989;
}

button {
    width: 120px;
    height: 35px;
    font-size: .9rem;
    font-family: 'MontserratRegular';
    box-shadow: 1px 2px 9px -5px #5e715e;
    margin: 10px;
    font-family: 'MontserratRegular', serif;
}

button:hover {
    background: #5e715e;
    color: white;
}

button:active {
    background-color: #354e40;
    transform: translateY(2px);
}